.App {
  height: calc(100% - 56px);
}
.container {
  padding: 24px;
  padding-top: 64px;
  height: 100%;
  position: relative;
  background-image: url(../img/rewards.png), url(../img/balls.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-size: contain, contain;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.user-balance {
  color: white;
  margin-top: 12px;
  font-size: 21px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
