.reward-card {
  background-color: #343943;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  cursor: pointer;
  width: 47%;
  margin-bottom: 16px;
}

.reward-card-image {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 110px;
}

.reward-card-price {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #171818;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
}

.reward-caption {
  padding: 9px;
}

.reward-card-title {
  font-size: 14px;
  font-weight: 500;
}
