.team-member-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.team-title {
  color: #e7a415;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

.team-member {
  display: flex;
  align-items: center;
}

.team-member:not(:last-child) {
  margin-bottom: 18px;
}

.team-member-picture {
  margin-right: 12px;
}

.game-waiting {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
